<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
    <main>  

      <% if (!products.length > 0) { %>
      <h1>Your cart is empty.</h1>
     <%  } else { %>
      <main>
       
          <ul>
            <% products.forEach(product => { %>
              <li>
                <p><%= product.title %></p>
                <h2> <%= product.quantity %></h2>
                <form action="/cart-delete-item" method="POST">
                  <input type="hidden" value="<%= product._id %>" name="productId">
                  <button type="submit">DELETE</button>
                </form>
              </li>
              <% }) %>
          </ul>
          <hr>
          <div class="centered">
            <form action="/create-order" method="POST">
                <button type="submit" class="btn">Order Now!</button>
            </form>
        </div>
      </main>
    <% } %>

    <%- include('../includes/end.ejs') %>

