
<%- include("../includes/head.ejs") %>
</head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <% if (prods.length > 0) { %>
      <div class="grid">
        <% for (let product of prods) { %>
        <article>
          <header>
            <h1 class="product-title"><%= product.title %></h1>
          </header>
          <div>
            <img class="product-image" src="<%= product.imageUrl %>" alt="nike shoes" />
          </div>
          <div>
            <h3 class="product-price"><%= product.price %></h3>
            <p><%= product.description %></p>
          </div>
          <div>
            <a class="details-btn" href="products/<%= product._id %>">Details</a>

            <%- include('../includes/add-to-cart.ejs', {product: product}) %>
          </div>
        </article>
        <% } %>
      </div>
      <% } else { %>
      <h1>No products Found!</h1>
      <% } %>
    </main>
    <%- include('../includes/end.ejs') %>

